* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

.container {
  max-width: 650px;
  margin: auto;
}

nav {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  color: #222;
  margin: 0 10px;
  font-weight: bold;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin-bottom: 8px;
}

.balance-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.balance-card h2 {
  font-size: 32px;
  margin-top: 8px;
}

.summary {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.summary > div {
  background: white;
  flex: 1;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.form-card,
.transactions {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.form-card h2,
.transactions h2 {
  margin-bottom: 15px;
}

input,
select,
button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
}

#transactionList {
  list-style: none;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  border-bottom: 1px solid #eee;
}

.transaction div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.transaction small {
  color: #777;
}
